// base styles
@import "./base/base";
@import "./base/reset";

// components styles
@import "./components/section";
@import "./components/address";
@import "./components/logo";
@import "./components/nav";
@import "./components/header";
@import "./components/hiro";
@import "./components/prem";
@import "./components/photo";
@import "./components/work";
@import "./components/container";
@import "./components/footer";
@import "./components/filtr";
@import "./components/port";
@import "./components/klient";
@import "./components/modal";
@import "./components/btn";
@import "./components/socials";
@import "./components/menu";

// utils styles
@import "./utils/variables";
@import "./utils/visually-hidden";

@import "./advant/advant";













