.footer__address {
  font-style: normal;
  margin-top: 20px;
}

.address-logo {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.address__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.address__link {
  line-height: calc(24 / 14);
  color: var(--background-color);
  transition: color var(--anim-fast);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__contact {
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--anim-fast);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
