.logo {
  font-family: none;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo__start {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: var(--accent-color);
  transition: color var(--anim-fast);
  color: #2196f3;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31 / 26);
  }

  &:hover,
  &:focus {
    color: var(--text-color);
  }
}

.logo__end {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--text-color);
  transition: color var(--anim-fast);

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31 / 26);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__logo {
  margin-bottom: 20px;
  display: block;
  font-family: none;
}

.logo__item {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--background-color);
  margin-top: 60px;
  margin-bottom: 20px;
  transition: color var(--anim-fast);

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31 / 26);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
