.container {
    background-color: #84A178;
    width: 100%;
    padding: 64px 45px;
    
}

.advant {
     justify-content: center;
    
    @media screen and (min-width: 768px) {
        display: flex;
        gap: 80px;
        flex-wrap: wrap;
    }
}

.advant-uhdertitle {
    
    justify-content: center;
    width: 230px;
  
    @media screen and (min-width: 768px) {
      width: 152px;
    }
    @media screen and (min-width: 1200px) {
      width: 368px;
    }
  }
  
  
  
  .advant__icon {
    
    margin-bottom: 22px;
  }
  
  .advant__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(44 / 36);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FCFCFC;
    margin-bottom: 16px;
      
       
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  .advant__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    text-align: center;
    color: #FCFCFC;
    margin-bottom: 28px;
}
