:root {
    --primari-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196f3;
    --text-color: #000;
    --background-color: #ffffff;
    --mein-background-color: #ececec;
    --discript-background-color: #f5f4fa;
    --dark-background-color: #2f303a;
    --port-background-color: #e5e5e5;
    --grey-color: #AFB1B8;
    --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --header-idx: 10;
    --modal-idx: 100;
  }
  